.header{
	width: 100%;
	height: 90px;

	.mark-logo{
		width: 250px;
		padding-top: 24px;
		margin-left: 37px;
		float: left;
		.logo{
			float: left;
		}
		.name-logo{
			float: left;
			padding: 6px 12px;
			h1{
				font-size: 20px;
				color: #757373;
			}
			h3{
				font-size: 14px;
				color: #756f6f;
			}
		}
	}
	// icons do menu
	.menu{
		ul{
			width: 50%;
			float: right;
			margin-right: 20px;
			position: relative;
			top: 28px;
			li{
				float: left;
				width: 25%;
				height: 36;
				text-align: center;
				padding: 10px 0px;
				&:hover{
					background-color: #16a086;
				}
				&:hover a{
					color: #ffffff;
				}
				a{
					text-transform: uppercase;
					text-decoration: none;
					color: #756f6f;
				}
			}
		}
	}
    // menu mobile
	.hamburger-menu{
		z-index: 1;
		height: 62px;
		display: block;
		right: 20px;
		top: 10px;
		position: absolute;
		display: none;

		input[type="checkbox"] {
			display: none;
		}
		input[type="checkbox"]:checked ~ .container		 > ul {
			display: none;
		}
		input[type="checkbox"]:checked ~ .container > .menu-mobile {
			background: transparent;
		}
		input[type="checkbox"]:checked ~ .container > .menu-mobile::before {
			bottom: 0;
			transform: rotate(45deg);
		}
		input[type="checkbox"]:checked ~ .container > .menu-mobile::after {
			top: 0;
			transform: rotate(-45deg);
		}
		.menu-mobile {
		  height: 8px;
		  width: 50px;
		  background: #000000;
		  transition: 0.3s;
		  position: relative;
		  transform: translateY(33.3333333333px);
		  &::before {
				height: 8px;
				width: 50px;
				background: #000000;
				transition: 0.3s;
				position: absolute;
				content: "";
				bottom: 20px;
		  }
		  &::after {
				height: 8px;
				width: 50px;
				background: #000000;
				transition: 0.3s;
				position: absolute;
				content: "";
				top: 20px;
		  }
		}
		.menu-mobile-opem{
			background: #ffffff;
			&::before{
				background: #ffffff;
			}
			&::after{
				background: #ffffff;
			}
		}
	}
    // fim menu mobile
}
