.highligth{
	width: 100%;
	min-height: 630px;
	background-image: url("../img/bg-highligth.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	font-family: sans-serif;font-weight: 300;
	color: #ffffff;
	.highligth-h1{
		padding: 70px 0px 40px 0px;
		h1{
			font-size: 70px;
			text-shadow: 0px 0px 10px rgba(0,0,0,.5);
		}
		span{
			font-weight: bold;
		}
	}
	.highligth-p{
		padding-bottom: 43px;
		width: 95%;
		max-width: 900px;
		margin: 0 auto;
		p{
			font-size: 22px;
			font-weight: 300;
			text-shadow: 0px 0px 10px rgba(0,0,0,.3);
		}
	}
	.highligth-btn{
		width: 117px;
		margin: 0 auto;
		padding: 14px 0;
		background-color: #1bbc9b;
		margin-bottom: 40px;
		a{
			text-decoration: none;
			color: #ffffff;
			font-size: 18px;

		}
	}
	.highligth-btn-plus{
		cursor: pointer;
	}	
}